# Data folder
Data/

Topic_1/.Rhistory

Topic_2/Output/3_cbd

Topic_7_8/TTM/sample_travel_time_matrix.parquet
Topic_7_8/TTM/simplified_travel_time_matrix.parquet
Topic_7_8/TTM/travel_time_matrices.mat

cursor_prompts/
cursor_prompt/

*.parquet
*.mat
*.png

.DS_Store
.claude